<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>datepicker</title>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="./bower_components/jquery-ui/themes/base/datepicker.css">
  <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>

  <div class="datepicker-container" ng-app="datepicker" ng-controller="mainController">
    <h1>Datepicker</h1>
    <p>Ausgew&auml;hltes Datum: <span id="displayDate">{{user.datePicker | format}}</span></p>
    <div>Erster Datepicker:</div>
    <div id="datepicker" data-name="form-date" data-the-datepicker ng-model="user.datePicker"></div>
    <div>Zweiter Datepicker (zur Kontrolle das Sie beide updaten)</div>
    <div id="datepicker2" data-name="form-date" data-the-datepicker ng-model="user.datePicker"></div>
    <div>Dritter Datepicker (zur Kontrolle das Sie unabhängig sein können)</div>
    <div id="datepicker3" data-name="form-date" data-the-datepicker ng-model="user.datePicker2"></div>
  </div>

  <script src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script src="./bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="./bower_components/jquery-ui/ui/i18n/datepicker-de.js"></script>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/moment/moment.js"></script>
  <script src="./assets/js/script.js"></script>

</body>
</html>