
// Datepicker drawer that opens on click in input field.

.ui-datepicker {
  padding: 0.5em 0.5em 1em;
  color: $colorContentText;
  background: $colorLightest;
  border: 0;
  @include prefix(box-shadow, 0 1px 1px 1px transparentize($colorDarkest, 0.75));

  @include media($_640) {
    padding: 0.75em 1em 1.15em;
  }

  .ui-datepicker-header {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;

    a {
      color: $colorNaviLink;

      &,
      span {
        cursor: pointer;
      }
    }

    .ui-datepicker-prev {
      left: 1px;
      border-right: 8px solid $colorNaviLink;

      &:hover,
      &:focus {
        border-right-color: $colorNaviHover;
      }
    }
    .ui-datepicker-next {
      right: 1px;
      border-left: 8px solid $colorNaviLink;

      &:hover,
      &:focus {
        border-left-color: $colorNaviHover;
      }
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
      top: 1px;
      margin-top: 10px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;

      span {
        visibility: hidden;
      }
    }

    .ui-datepicker-month {
      color: $colorNaviActive;
    }
    .ui-datepicker-year {
      color: $colorNaviActive;
    }
  }

  .ui-datepicker-calendar {
    border-collapse: separate;

    td {
      border: 1px solid transparent;
    }
    a {
      text-align: center;
      color: $colorNaviLink;

      &:hover,
      &:focus {
        color: $colorNaviHover;
      }
    }

    .ui-datepicker-current-day {
      border: 1px solid $colorHighlight;
      @include prefix(border-radius, 2px);
      @include prefix(box-shadow, 0 0 6px transparentize($colorHighlightLightest, 0.4));
    }
    .ui-datepicker-today {
      a {
        color: $colorNaviActive;
        font-weight: bold;
      }
    }
  }

  .ui-datepicker-buttonpane {
    margin-right: 5px;
    margin-left: 5px;

    button {
      padding: 6px 18px;
      color: $colorLightest;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
      @include prefix(border-radius, 2px);
      text-shadow: 0 -1px 0 transparentize($colorBlack, 0.6);
    }

    .ui-datepicker-current {
      background: $colorButtonHighlight;
      border: 1px solid $colorButtonHighlightMedium;

      &:hover,
      &:focus {
        background: $colorButtonHighlightDark;
      }
    }
    .ui-datepicker-close {
      background: $colorButtonDone;
      border: 1px solid $colorButtonDoneDark;

      &:hover,
      &:focus {
        background: $colorButtonDoneMedium;
      }
    }
  }
}
